@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.main {
    background-image: url(assets/Images/bg.jpg);
    height: 70vh;
    position: relative;
    background-size: max(1200px, 100vw);
    background-position: center center;
    background-repeat: no-repeat;

}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.65;
    position: absolute;
    top: 0;
    background-color: black;
}

.english {
    padding: 15px 0;
}

nav {
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    display: flex;
    height: 80px;
    align-items: center;
}

nav img {
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 80px);
    font-family: 'Martel Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 24px;
    padding: 0 30px;
}

body {
    background-color: black;
}

.hero> :first-child {
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 24px;
}

.hero> :nth-child(3) {
    font-weight: 400;
    text-align: center;
    font-size: 20px;
}

.separation {
    height: 7px;
    background-color: rgb(46, 44, 44);
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    background-color: rgba(63, 60, 60, 0.153);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    cursor: pointer;
}


.flex>:nth-child(1) {
    background-color: rgba(19, 18, 18, 0.395);
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    font-weight: 4 00;
    border-radius: 4px;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.main input {
    padding: 7px 101px 8px 14px;
    font-size: 12px;
    color: white;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.first {
    display: flex;
    justify-content: center;
    color: white;
    max-width: 70vw;
    margin: auto;
    justify-content: center;
    align-items: center;

}

.secImg {
    position: relative;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;

}

.secImg video {
    position: absolute;
    top: 120px;
    right: 76px;
    width: 407px;
}

option {
    background-color: black;
    color: white;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

.first>div :first-child {
    font-size: 48px;
    font-weight: bolder;
}

.first>div :nth-child(2) {
    font-size: 24px;

}

.faq {
    background-color: black;
    color: white;
    padding: 34px;
}

.faq h2 {
    text-align: center;
    font-size: 48px;

}

.faqbox:hover {
    background-color: #414141;
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    background-color: #2d2d2d;
    justify-content: space-between;
    padding: 24px;
    max-width: 60vw;
    margin: 10px auto;
    cursor: pointer;

}

footer {
    max-width: 60vw;
    margin: auto;
    color: white;
    padding: 14px
}


.questions {
    padding: 10px 0;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}



.footer a {
    color: white;
    font-size: 14px;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (max-width:1256px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}

@media screen and (max-width:1256px) {
    nav {
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg {
        position: relative;
    }

    .secImg img {
        width: 401px;
    }

    .secImg video {
        width: 294px;
        top: 97px;
        right: 55px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        flex-direction: column;
    }

    .faq h2 {
        font-size: 32px;
    }

    footer {
        max-height: 90vw;
    }
}